<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Company Risk Analysis</title>
    <link rel="stylesheet" href="/static/css/companyStyleSheet.css">
    <link href="/static/css/companyFontStyle.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/companyNormStyle.css">


    <link rel="stylesheet" href="/static/css/companyMainStyle.css">

    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css" type="text/css" />

    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>

    <style>
        .button {
            display: inline-block;
            margin: 0;
            padding: 0.75rem 1rem;
            border: 0;
            border-radius: 0.317rem;
            background-color: rgb(36, 34, 34);
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.5;
            font-family: "Helvetica Neue", Arial, sans-serif;
            cursor: pointer;
            -webkit-appearance: none;
            -webkit-font-smoothing: antialiased;
        }
    </style>


</head>

<body>

    <nav class="nav">
        <div class="burger">
            <div class="burger__patty"></div>
        </div>

        <ul class="nav__list">
            <li class="nav__item">
                <a href="#1" class="nav__link c-blue">State</a>
            </li>
            <li class="nav__item">
                <a href="#2" class="nav__link c-yellow scrolly">Age</a>
            </li>
            <li class="nav__item">
                <a href="#3" class="nav__link c-red">Race</a>
            </li>
            <li class="nav__item">
                <a href="#4" class="nav__link c-green">Gender</a>
            </li>
        </ul>
    </nav>

    <section class="panel b-blue" id="1">
        <article class="panel__wrapper">
            <form method="POST">
                <div class="panel__content">
                    <h1 class="panel__headline">&nbsp;State</h1>
                    <div class="panel__block"></div>
                    <span> Condition:</span>
                    <select id="stateCon" name="stateCon">
                        <option value = "SP_CNCR">Cancer</option>
                        <option value = "SP_CHF">Health Failure</option>
                        <option value = "SP_CHRNKIDN">Chronic Kidney Disease</option>
                        <option value = "SP_DIABETES">Diabetes</option>
                        <option value = "SP_DEPRESSN">Depression</option>
                        <option value = "SP_ISCHMCHT">Ischemic Heart Disease</option>
                        <option value = "SP_OSTEOPRS">Osteoporosis</option>
                        <option value = "SP_RA_OA">Arthritis</option>
                        <option value = "SP_STRKETIA">Stroke</option>
                        <option value = "SP_ALZHDMTA">Alzheimers</option>
                    </select>
                    <!-- <button class="button" onclick="getStateCon()">Submit</button> -->
                    <button class="button" type="submit">Submit</button>
                </div>
            </form>
        </article>

    </section>
    <section class="panel b-yellow" id="2">
        <article class="panel__wrapper">
            <div class="panel__content">
                <h1 class="panel__headline">&nbsp;Age</h1>
                <div class="panel__block"></div>
                <span class="label-input100">Age</span>
                <input id="age" type="number" name="email" placeholder="Enter your age">
                <span class="focus-input100"></span>
                <span> Condition:</span>
                <select id="ageCon">
             <option value = "SP_CNCR">Cancer</option>
            <option value = "SP_CHF">Health Failure</option>
            <option value = "SP_CHRNKIDN">Chronic Kidney Disease</option>
            <option value = "SP_DIABETES">Diabetes</option>
            <option value = "SP_DEPRESSN">Depression</option>
            <option value = "SP_ISCHMCHT">Ischemic Heart Disease</option>
            <option value = "SP_OSTEOPRS">Osteoporosis</option>
            <option value = "SP_RA_OA">Arthritis</option>
            <option value = "SP_STRKETIA">Stroke</option>
            <option value = "SP_ALZHDMTA">Alzheimers</option>
        </select>
                <button class="button" onclick="getAgeCon()">submit</button>
            </div>
        </article>
    </section>
    <section class="panel b-red" id="3">
        <article class="panel__wrapper">
            <form method="POST" action="{{url_for( 'company_race')}}">
                <div class="panel__content">
                    <h1 class="panel__headline">&nbsp;Race</h1>
                    <div class="panel__block"></div>
                    <span> Race:</span>
                    <select id="race" name="race">
                        <option value = "white">White</option>
                        <option value = "black">African American</option>
                        <option value = "hispanic">Hispanic</option>
                        <option value = "other">Other</option>
                    </select>
                    <!-- <span> Condition:</span>
                    <select id="raceCon">
                          <option value = "SP_CNCR">Cancer</option>
                        <option value = "SP_CHF">Health Failure</option>
                        <option value = "SP_CHRNKIDN">Chronic Kidney Disease</option>
                        <option value = "SP_DIABETES">Diabetes</option>
                        <option value = "SP_DEPRESSN">Depression</option>
                        <option value = "SP_ISCHMCHT">Ischemic Heart Disease</option>
                        <option value = "SP_OSTEOPRS">Osteoporosis</option>
                        <option value = "SP_RA_OA">Arthritis</option>
                        <option value = "SP_STRKETIA">Stroke</option>
                        <option value = "SP_ALZHDMTA">Alzheimers</option>
                    </select> -->
                    <button class="button">Submit</button>
                </div>
            </form>
            <div style="top: 50px">
                {% set path = '/templates/' + race_script %}{% include race_script %} {% set path = '/templates/' + race_div %}{% include race_div %}
            </div>
        </article>
    </section>
    <section class="panel b-green" id="4">
        <article class="panel__wrapper">
            <form method="POST" action="{{url_for( 'company_gender')}}">
                <div class="panel__content">
                    <h1 class="panel__headline">&nbsp;Gender</h1>
                    <div class="panel__block"></div>
                    <!-- <span> Gender:</span>
                            <select id="gender">
                        <option value = "M">Male</option>
                        <option value = "F">Female</option>
                    </select> -->
                    <span> Condition:</span>
                    <select id="genderCon" name="stateCon">
                         <option value = "SP_CNCR">Cancer</option>
                        <option value = "SP_CHF">Health Failure</option>
                        <option value = "SP_CHRNKIDN">Chronic Kidney Disease</option>
                        <option value = "SP_DIABETES">Diabetes</option>
                        <option value = "SP_DEPRESSN">Depression</option>
                        <option value = "SP_ISCHMCHT">Ischemic Heart Disease</option>
                        <option value = "SP_OSTEOPRS">Osteoporosis</option>
                        <option value = "SP_RA_OA">Arthritis</option>
                        <option value = "SP_STRKETIA">Stroke</option>
                        <option value = "SP_ALZHDMTA">Alzheimers</option>
                    </select>
                    <button class="button">Submit</button>
                    <h2> Currently showing risk analysis for {{gender_disease}}</h2>
                </div>
            </form>
            <div style="position: relative; left:200px; top: 50px;">
                {% set path = '/templates/' + gender_script %}{% include gender_script %} {% set path = '/templates/' + gender_div %}{% include gender_div %}
            </div>

        </article>
    </section>
    <div class="logo" target="_blank">
        <img onclick="goBack()" class="logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/ettrics-logo.svg" alt="" />
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/static/js/companyIndex.js"></script>
    <script>
        var conditionVal, ageVal, raceVal, genVal;

        function getStateCon() {
            var inputCondition = document.getElementById("stateCon");
            conditionVal = inputCondition.options[inputCondition.selectedIndex].value;
            console.log(conditionVal);
        }

        function getAgeCon() {
            ageVal = document.getElementById("age").value;
            var inputCondition = document.getElementById("ageCon");
            conditionVal = inputCondition.options[inputCondition.selectedIndex].value;
            console.log(ageVal);
            console.log(conditionVal);
        }

        function getRaceCon() {
            var inputEth = document.getElementById("race");
            raceVal = inputEth.options[inputEth.selectedIndex].value;
            var inputCondition = document.getElementById("raceCon");
            conditionVal = inputCondition.options[inputCondition.selectedIndex].value;
            console.log(raceVal);
            console.log(conditionVal);
        }

        function getGenderCon() {
            var inputGen = document.getElementById("gender");
            genVal = inputGen.options[inputGen.selectedIndex].value;
            var inputCondition = document.getElementById("genderCon");
            conditionVal = inputCondition.options[inputCondition.selectedIndex].value;
            console.log(genVal);
            console.log(conditionVal);
        }


        function goBack() {
            console.log("HELLO");
            location.href = "index.html";
        }
    </script>




</body>

</html>